html {
    background: url("/image/waves-ocean.gif") no-repeat center center fixed;
    background-size: cover;
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100%;
    margin: 0px;
}

.nav-wrapper{
    
    display: block;
    overflow: auto;
    position: fixed;

    padding: 0px;
    margin: 0px;

    background: linear-gradient(to top, #2c2c2c, #383838);
    border-right: 0px solid rgb(255, 255, 255);
    height: 100vh;;
    min-height: 750px;
    width: 200px;
    min-width: 200px;
    border-radius: 0px 0px 0px 5px;
    
}
.main-wrapper{
    margin-left:200px;
    width: 100%;
    margin-top: 300px;
}

.nav{
    position: sticky;
    list-style-type: none;
    text-align: center;
    color: white;
    padding: 0px;
    margin-top: 50px;
}
.nav li{
    margin: 10px 10px 10px 10px;
}
.nav li a{
    text-decoration: none;
}
.nav li a:link {
    color: white;
    transition: 2s;
}
.nav li a:visited {
    color: white;
}

.page{
    display: flex;
    width: 100%;
    height: 100%;
}

.content-wrapper{
    
    margin-right : 0;
    width: 100%;
    position: relative;
    background: rgb(235 235,235);
    margin-top: 500px; 
    margin-bottom: 100px; 
    
    
}


.intro img{
    width: 150px;
    border-radius: 75px 75px 75px 75px;
    margin: 20px;
    margin-bottom: 1px;
}
.intro ul{
    list-style-type: none;
    margin-top: 5px;
    color: white;
}
.title{
    margin: 30px 30px 30px 30px;
    position: relative;
    
}
.content{
    width: 100%;
    height: 300px;
    position: relative;
    object-fit: cover;
    display: flex;
    margin-top: 280px;
    margin-bottom: 280px;
}

.content Img{
        width: 400px;
        height: 300px;
        margin-left: 200px;
        margin-bottom: 30px;
        object-fit: scale-down;

}

.content p{
    margin-left: 50px;
    font-size: 30px;
    margin-top: 70px;
    margin-bottom: 0px;
}


.main-wrapper h2{
    text-align: center;
    color: rgb(234,234,234);
}
#audio{
    margin-top: 40px;
    margin-left: 5px;
    width: 180px;
    float: bottom;
}

#hashtag{
    margin-left: 50px;
    margin-top: 10px;
    font-size: 25px;
    color: cornflowerblue;
}
iframe{
    margin-left: 100px;
}

.text h1{
    margin-left: 200px;
}
#hobby img{
    width: 150px;

}

.text ul{
    font-size: 20px;
}
.text ul li{
    margin-top: 20px;
}
#share{
    margin-left: 300px;
}